@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #000000;
  --active: #8FC4C1;
  --active-hover: #4B9C9B;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-active: var(--active);
  --color-active-hover: var(--active-hover);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

